<form class="{{cssClass}}" autocomplete="off">
    <div id="sheet" class="gurpsactorsheet">
        <div id="personal">
            <div id="portrait">
                <div class="header">Portrait</div>
                <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100"
                    width="100" />
            </div>
            <div id="identity">
                <div class="header">Identity</div>
                <div class="fieldblock">
                    <div class="label">Name:</div>
                    <div class="field">{{actor.name}}</div>
                    <div class="label">Title:</div>
                    <div class="field">{{data.traits.title}}</div>
                    <div class="label">Player:</div>
                    <div class="field">{{data.traits.player}}</div>
                </div>
            </div>
            <div id="miscellaneous">
                <div class="header">Miscellaneous</div>
                <div class="fieldblock">
                    <div class="label">Created:</div>
                    <div class="field">{{data.traits.createdon}}</div>
                    <div class="label">Modified:</div>
                    <div class="field">{{data.traits.modifiedon}}</div>
                    <div class="label">Options:</div>
                    <div class="field"></div>
                </div>
            </div>
            <div id="description">
                <div class="header">Description</div>
                <div class="fieldblock">
                    <div class="label">Gender:</div>
                    <div class="field">{{data.traits.gender}}</div>
                    <div class="label">Age:</div>
                    <div class="field">{{data.traits.age}}</div>
                    <div class="label">Birthday:</div>
                    <div class="field">{{data.traits.birthday}}</div>
                    <div class="label">Religion:</div>
                    <div class="field">{{data.traits.religion}}</div>
                </div>
                <div class="fieldblock">
                    <div class="label">Height:</div>
                    <div class="field">{{data.traits.height}}</div>
                    <div class="label">Weight:</div>
                    <div class="field">{{data.traits.weight}}</div>
                    <div class="label">Size:</div>
                    <div class="field">{{data.traits.sizemod}}</div>
                    <div class="label">TL:</div>
                    <div class="field">{{data.traits.techlevel}}</div>
                </div>
                <div class="fieldblock">
								{{#if data.traits.eyes}}
                    <div class="label">Hair:</div>
                    <div class="field">{{data.traits.hair}}</div>
                    <div class="label">Eyes:</div>
                    <div class="field">{{data.traits.eyes}}</div>
                    <div class="label">Skin:</div>
                    <div class="field">{{data.traits.skin}}</div>
                    <div class="label">Hand:</div>
                    <div class="field">{{data.traits.hand}}</div>
								{{else}}
                    <div class="label">&nbsp;</div>
                    <div class="label">&nbsp;</div>
	                  <div class="label">Appearance:</div>
                    <div class="label">&nbsp;</div>
                    <div class="label">&nbsp;</div>
                    <div class="label">&nbsp;</div>
                    <div class="field">{{data.traits.appearance}}</div>
                    <div class="label">&nbsp;</div>
                    <div class="label">&nbsp;</div>
								{{/if}}
                </div>
            </div>
            <div id="points">
                <div class="header">Points</div>
                <div class="fieldblock">
                    <div class="field">{{data.totalpoints.unspent}}</div>
                    <div class="label">Unspent</div>
                    <div class="field noedit"></div>
                    <div class="label">Race</div>
                    <div class="field noedit">{{data.totalpoints.attributes}}</div>
                    <div class="label">Attributes</div>
                    <div class="field noedit">{{data.totalpoints.ads}}</div>
                    <div class="label">Advantages</div>
                    <div class="field noedit">{{data.totalpoints.disads}}</div>
                    <div class="label">Disadvantages</div>
                    <div class="field noedit">{{data.totalpoints.quirks}}</div>
                    <div class="label">Quirks</div>
                    <div class="field noedit">{{data.totalpoints.skills}}</div>
                    <div class="label">Skills</div>
                    <div class="field noedit">{{data.totalpoints.spells}}</div>
                    <div class="label">Spells</div>
                </div>
            </div>
        </div>
        <div id="stats">
            <div id="attributes">
                <div class="header">Attributes</div>
                <div class="fieldblock3">
                    <div class="points">[{{data.attributes.ST.points}}]</div>
                    <div class="field rollable" data-path="attributes.ST.value">{{data.attributes.ST.value}}</div>
                    <div class="label">{{localize "GURPS.attributesSTNAME"}} ({{localize "GURPS.attributesST"}})</div>
                    <div class="points">[{{data.attributes.DX.points}}]</div>
                    <div class="field rollable" data-path="attributes.DX.value">{{data.attributes.DX.value}}</div>
                    <div class="label">{{localize "GURPS.attributesDXNAME"}} ({{localize "GURPS.attributesDX"}})</div>
                    <div class="points">[{{data.attributes.IQ.points}}]</div>
                    <div class="field rollable" data-path="attributes.IQ.value">{{data.attributes.IQ.value}}</div>
                    <div class="label">{{localize "GURPS.attributesIQNAME"}} ({{localize "GURPS.attributesIQ"}})</div>
                    <div class="points">[{{data.attributes.HT.points}}]</div>
                    <div class="field rollable" data-path="attributes.HT.value">{{data.attributes.HT.value}}</div>
                    <div class="label">{{localize "GURPS.attributesHTNAME"}} ({{localize "GURPS.attributesHT"}})</div>
                    <hr>
                    <div class="points">[{{data.attributes.WILL.points}}]</div>
                    <div class="field rollable" data-path="attributes.WILL.value">{{data.attributes.WILL.value}}</div>
                    <div class="label">{{localize "GURPS.attributesWILLNAME"}}</div>
                    <div class="points"></div>
                    <div class="field noedit rollable" data-path="frightcheck">{{data.frightcheck}}</div>
                    <div class="label">Fright Check</div>
                    <hr>
                    <div class="points">[{{data.basicspeed.points}}]</div>
                    <div class="field">{{data.basicspeed.value}}</div>
                    <div class="label">Basic Speed</div>
                    <div class="points">[{{data.basicmove.points}}]</div>
                    <div class="field">{{data.basicmove.value}}</div>
                    <div class="label">Basic Move</div>
                    <hr>
                    <div class="points">[{{data.attributes.PER.points}}]</div>
                    <div class="field rollable" data-path="attributes.PER.value">{{data.attributes.PER.value}}</div>
                    <div class="label">{{localize "GURPS.attributesPERNAME"}} ({{localize "GURPS.attributesPER"}})</div>
                    <div class="points"></div>
                    <div class="field noedit rollable" data-path="vision">{{data.vision}}</div>
                    <div class="label">Vision</div>
                    <div class="points"></div>
                    <div class="field noedit rollable" data-path="hearing">{{data.hearing}}</div>
                    <div class="label">Hearing</div>
                    <div class="points"></div>
                    <div class="field noedit rollable" data-path="tastesmell">{{data.tastesmell}}</div>
                    <div class="label">Taste &amp; Smell</div>
                    <div class="points"></div>
                    <div class="field noedit rollable" data-path="touch">{{data.touch}}</div>
                    <div class="label">Touch</div>
                    <hr>
                    <div class="points"></div>
                    <div class="field noedit">{{data.thrust}}</div>
                    <div class="label">Basic Thrust</div>
                    <div class="points"></div>
                    <div class="field noedit">{{data.swing}}</div>
                    <div class="label">Basic Swing</div>
                </div>
            </div>
            <div id="encumbrance">
                <div class="header">Encumbrance, Move &amp; Dodge</div>
                <div class="encmarkerh header"></div>
                <div class="ench header">Level</div>
                <div class="loadh header">Max Load</div>
                <div class="moveh header">Move</div>
                <div class="dodgeh header">Dodge</div>

                {{#each data.encumbrance as | this key |}}
                {{#if this.current}}
                <div class="encmarker current"></div>
                <div class="enc current {{this.key}}" data-key="{{key}}"></div>
                <div class="load current">{{this.weight}}</div>
                <div class="move current">{{this.move}}</div>
                <div class="dodge current rollable" data-path="dodge">{{this.dodge}}</div>
                {{else}}
                <div class="encmarker "></div>
                <div class="enc {{this.key}}" data-key="{{key}}"></div>
                <div class="load ">{{this.weight}}</div>
                <div class="move ">{{this.move}}</div>
                <div class="dodge rollable" data-path="dodge">{{this.dodge}}</div>
                {{/if}}
                {{/each}}

            </div>
            <div id="lifting">
                <div class="header">Lifting &amp; Moving Things</div>
                <div class="lift">{{data.liftingmoving.basiclift}}</div>
                <div class="liftdesc">Basic Lift</div>
                <div class="lift">{{data.liftingmoving.onehandedlift}}</div>
                <div class="liftdesc">One-Handed Lift</div>
                <div class="lift">{{data.liftingmoving.twohandedlift}}</div>
                <div class="liftdesc">Two-Handed Lift</div>
                <div class="lift">{{data.liftingmoving.shove}}</div>
                <div class="liftdesc">Shove &amp; Knock Over</div>
								{{#if data.liftingmoving.runningshove}}
                <div class="lift">{{data.liftingmoving.runningshove}}</div>
                <div class="liftdesc">Running Shove &amp; Knock Over</div>
								{{/if}}
                <div class="lift">{{data.liftingmoving.carryonback}}</div>
                <div class="liftdesc">Carry on Back</div>
                <div class="lift">{{data.liftingmoving.shiftslightly}}</div>
                <div class="liftdesc">Shift Slightly</div>
            </div>
            <div id="location">
                <div class="header">Hit Location</div>
                <div class="roll header">Roll</div>
                <div class="where header">Where</div>
                <div class="penalty header">Penalty</div>
                <div class="dr header">DR</div>

                {{#each data.hitlocations}}
                <div class="roll">{{hitlocationroll this.where this.roll}}</div>
                <div class="where {{gurpstippable}}" data-tooltip="Eqt on {{this.where}}: {{this.equipment}}">
                    {{this.where}}
                </div>
                <div class="penalty {{#if (ne this.penalty '0')}}gmod{{/if}}" data-name="to hit {{this.where}}">
                    {{hitlocationpenalty this.where this.penalty}}</div>
                <div class="dr {{gurpstippable}}" data-tooltip="Eqt on {{this.where}}: {{this.equipment}}">{{this.dr}}
                </div>
                {{/each}}


            </div>
            <div id="fatpoints">
                <div class="header">Fatigue Points</div>
                <div class="fieldblock3">
                    <div class="points"></div>
                    <div class="field"><input class="gcs-input-2" name="data.FP.value" type="text"
                            value="{{data.FP.value}}" data-dtype="Number" /></div>
                    <div class="label">Current</div>
                    <div class="points">[{{data.FP.points}}]</div>
                    <div class="field">{{data.FP.max}}</div>
                    <div class="label">Basic</div>

                    {{#fpBreakpoints data.FP}}
                    <div class="points"></div>
                    <div class="field condensed noedit">{{breakpoint}}</div>
                    <div class="label {{style}}">{{label}}</div>
                    {{/fpBreakpoints}}
                </div>
            </div>
            <div id="hitpoints">
                <div class="header">Hit Points</div>
                <div class="fieldblock3">
                    <div class="points"></div>
                    <div class="field"><input class="gcs-input-2" name="data.HP.value" type="text"
                            value="{{data.HP.value}}" data-dtype="Number" /></div>
                    <div class="label">Current</div>

                    <div class="points">[{{data.HP.points}}]</div>
                    <div class="field">{{data.HP.max}}</div>
                    <div class="label">Basic</div>

                    {{#hpBreakpoints data.HP}}
                    <div class="points"></div>
                    <div class="field condensed noedit">{{breakpoint}}</div>
                    <div class="label {{style}}">{{label}}</div>
                    {{/hpBreakpoints}}
                </div>
            </div>
        </div>

				{{#if (notEmpty data.reactions)}}
        <div id="reactions">
            <div class="modifier header">Modifier</div>
            <div class="situation header">Reaction</div>
            <div></div>
					{{#each data.reactions}}
						<div class="modifier gmod" data-name="Reaction {{this.situation}}">{{this.modifier}}</div>
            <div class="situation">{{{gurpslink this.situation}}}</div>
            <div></div>
					{{/each}}

        </div>
				{{/if}}

 			 {{#if (notEmpty data.melee)}}
        <div id="melee">
            <div class="desc header">Melee Weapons</div>
            <div class="usage header">Usage</div>
            <div class="level header">Lvl</div>
            <div class="parry header">Parry</div>
            <div class="block header">Block</div>
            <div class="damage header">Damage</div>
            <div class="reach header">Reach</div>
            <div class="st header">ST</div>
            <div></div>

            {{#each data.melee}}
            <div class="desc gcs-edit" data-path="data.melee">{{{gurpslink this.name}}}
                <div class="list_note">{{{gurpslink this.notes}}}</div>
            </div>
            <div class="usage">{{this.mode}}</div>
            <div class="level rollable" data-name="{{this.name}} ({{this.mode}})">{{this.level}}</div>
            <div class="parry rollable" data-name="Parry">{{this.parry}}</div>
            <div class="block rollable" data-name="Block">{{this.block}}</div>
            <div class="damage rollable" data-damage>{{this.damage}}</div>
            <div class="reach">{{this.reach}}</div>
            <div class="st">{{this.st}}</div>
            <div></div>
            {{/each}}

        </div>
				{{/if}}

 			 {{#if (notEmpty data.ranged)}}
       <div id="ranged">
            <div class="desc header">Ranged Weapons</div>
            <div class="usage header">Usage</div>
            <div class="level header">Lvl</div>
            <div class="acc header">Acc</div>
            <div class="damage header">Damage</div>
            <div class="range header">Range</div>
            <div class="rof header">RoF</div>
            <div class="shots header">Shots</div>
            <div class="bulk header">Bulk</div>
            <div class="rcl header">Rcl</div>
            <div class="st header">ST</div>


            {{#each data.ranged as | this key |}}
            <div class="desc">{{{gurpslink this.name}}}
                <div class="list_note">{{{gurpslink this.notes}}}</div>
            </div>
            <div class="usage">{{this.mode}}</div>
            <div class="level rollable" data-name="{{this.name}} ({{this.mode}})" data-key="data.ranged.{{key}}">{{this.level}}</div>
            <div class="acc {{#if (ne this.acc '0')}}gmod{{/if}}" data-name='Acc for {{this.name}}'>
                {{#if (gt this.acc 0)}}+{{/if}}{{this.acc}}</div>
            <div class="damage rollable" data-damage>{{this.damage}}</div>
            <div class="range">{{this.range}}</div>
            <div class="rof">{{this.rof}}</div>
            <div class="shots">{{this.shots}}</div>
            <div class="bulk {{#if (ne this.bulk '0')}}gmod{{/if}}" data-name='for {{this.name}} Bulk'>{{this.bulk}}
            </div>
            <div class="rcl">{{this.rcl}}</div>
            <div class="st">{{this.st}}</div>
            {{/each}}

        </div>
				{{/if}}
        <div id="advantages">
            <div class="desc header dblclksort" data-key="data.ads">Advantages, Disadvantages, Perks &amp; Quirks</div>
            <div class="pts header">Pts</div>
            <div class="ref header">Ref</div>
            {{#each data.ads as | this key | }}
            <div class="desc indent0 satisfiedY adsdraggable" data-key="data.ads.{{key}}">{{{gurpslink this.name}}}
                <div class="list_note satisfiedY"></div>
                <div class="list_note satisfiedY adsdraggable" data-key="data.ads.{{key}}">{{{gurpslinkbr this.notes}}}</div>
            </div>
            <div class="pts satisfiedY">{{this.points}}</div>
            <div class="ref satisfiedY pdflink">{{this.pageref}}</div>
            {{/each}}
        </div>

        <div id="skills">
            <div class="desc header dblclksort" data-key="data.skills">Skills</div>
            <div class="sl header">SL</div>
            <div class="rsl header">RSL</div>
            <div class="pts header">Pts</div>
            <div class="ref header">Ref</div>

            {{#each data.skills as | this key |}}
            <div class="desc indent0 satisfiedY skldraggable" data-key="data.skills.{{key}}">{{{gurpslink this.name}}}
                <div class="list_note satisfiedY"></div>
                <div class="list_note satisfiedY skldraggable" data-key="data.ads.{{key}}">{{{gurpslink this.notes @root}}}</div>
            </div>
            <div class="sl satisfiedY rollable" data-name="{{this.name}}">{{this.level}}</div>
            <div class="rsl satisfiedY">{{this.relativelevel}}</div>
            <div class="pts satisfiedY">{{this.points}}</div>
            <div class="ref satisfiedY pdflink">{{this.pageref}}</div>
            {{/each}}
        </div>

				{{#if (notEmpty data.spells)}}
        <div id="spells">
            <div class="desc header dblclksort" data-key="data.spells">Spells</div>
            <div class="cls header">Class</div>
            <div class="college header">College</div>
            <div class="mana header">Cost</div>
            <div class="mana_maintain header">Maintain</div>
            <div class="time header">Time</div>
            <div class="duration header">Duration</div>
            <div class="sl header">SL</div>
            <div class="rsl header">RSL</div>
            <div class="pts header">Pts</div>
            <div class="ref header">Ref</div>

            {{#each data.spells as | this key |}}
            <div class="desc indent0 satisfiedY spldraggable" data-key="data.spells.{{key}}">{{{gurpslink this.name}}}
                <div class="list_note satisfiedY"></div>
                <div class="list_note satisfiedY spldraggable" data-key="data.spells.{{key}}">{{{gurpslink this.notes}}}</div>
            </div>
            <div class="cls satisfiedY">{{this.class}}</div>
            <div class="college satisfiedY">{{this.college}}</div>
            <div class="mana satisfiedY">{{this.cost}}</div>
            <div class="mana_maintain satisfiedY">{{this.maintain}}</div>
            <div class="time satisfiedY">{{this.casttime}}</div>
            <div class="duration satisfiedY">{{this.duration}}</div>
            <div class="sl satisfiedY rollable" data-name="{{this.name}}">{{this.level}}</div>
            <div class="rsl satisfiedY">{{this.difficulty}}</div>
            <div class="pts satisfiedY">{{this.points}}</div>
            <div class="ref satisfiedY pdflink">{{this.pageref}}</div>
            {{/each}}

        </div>
				{{/if}}
        <div id="equipment">
            <div class="equipped header">E</div>
            <div class="qty header eqtdragtarget" data-key="data.equipment.carried">Qty</div>
            <div class="desc header eqtdragtarget dblclksort" data-key="data.equipment.carried">Equipment ({{eqtsummary.eqtlbs}} lb; ${{eqtsummary.eqtcost}})</div>
            <div class="cost header">$</div>
            <div class="weight header">lbs</div>
            <div class="sum_cost header">x $</div>
            <div class="sum_weight header">X lbs</div>
            <div class="ref header">Ref</div>
            <div></div>

            {{#listeqt data.equipment.carried }}
            <div class="equipped satisfiedY">{{#if this.equipped}}X{{/if}}</div>
            <div class="qty satisfiedY eqtdraggable" data-key="data.equipment.carried.{{@key}}">{{this.count}}</div>
            <div class="desc indent{{@indent}} satisfiedY eqtdraggable" data-key="data.equipment.carried.{{@key}}">{{{gurpslink this.name}}}
                <div class="list_note satisfiedY eqtdraggable" data-key="data.equipment.carried.{{@key}}">{{{gurpslink this.notes}}}</div>
                <div class="list_note satisfiedY"></div>
            </div>
            <div class="cost satisfiedY">{{this.cost}}</div>
            <div class="weight satisfiedY">{{this.weight}} lbs</div>
            <div class="sum_cost satisfiedY">{{this.costsum}}</div>
            <div class="sum_weight satisfiedY">{{this.weightsum}}</div>
            <div class="ref satisfiedY pdflink">{{this.pageref}}</div>
            <div></div>
            {{/listeqt}}

        </div>
        <div id="other_equipment">
            <div class="qty header eqtdragtarget" data-key="data.equipment.other">Qty</div>
            <div class="desc header eqtdragtarget dblclksort" data-key="data.equipment.other">Other Equipment (${{eqtsummary.othercost}})</div>
            <div class="cost header">$</div>
            <div class="weight header">lbs</div>
            <div class="sum_cost header">x $</div>
            <div class="sum_weight header">x lbs</div>
            <div class="ref header">Ref</div>

            {{#listeqt data.equipment.other }}
            <div class="qty satisfiedY eqtdraggable" data-key="data.equipment.other.{{@key}}">{{this.count}}</div>
            <div class="desc indent{{@indent}} satisfiedY eqtdraggable" data-key="data.equipment.other.{{@key}}">{{{gurpslink this.name}}}
                <div class="list_note satisfiedY eqtdraggable" data-key="data.equipment.carried.{{@key}}">{{{gurpslink this.notes}}}</div>
                <div class="list_note satisfiedY"></div>
            </div>
            <div class="cost satisfiedY">{{this.cost}}</div>
            <div class="weight satisfiedY">{{this.weight}} lb</div>
            <div class="sum_cost satisfiedY">{{this.costsum}}</div>
            <div class="sum_weight satisfiedY">{{this.weightsum}}</div>
            <div class="ref satisfiedY pdflink">{{this.pageref}}</div>
            {{/listeqt}}

        </div>
        <div id="notes">
            <div class="desc header">Notes</div>
            {{#each data.notes}}
            <div class="desc indent0">{{{gurpslinkbr this.notes}}}</div>
            {{/each}}
        </div>
    </div>
    <div id="footer">GCS is copyrighted 1998-2020 by Richard A. Wilkes  All rights reserved
        <a href="https://gurpscharactersheet.com">gurpscharactersheet.com</a>
    </div>
</form>