tr {
    font-size: 6pt;
    line-height: 8px;
}

td {
    border: none;
}

.fw900 {
    font-weight: 900;
}

.fontSize6_lineHeight8 {
    font-size: 6pt;
    line-height: 8px;
}

.no-border {
    border: none;
}

.no-border-top {
    border-top: none;
}

.no-border-left {
    border-left: none;
}
.border-bottom-1-solid-black {
    border-bottom: 1px solid black;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.vertical-bottom {
    vertical-align: bottom;
}

.padding-right-6 {
    padding-right: 6px;
}

.w9px {
    width: 9px;
}

.w20px {
    width: 20px;
}

.w30px {
    width: 30px;
}

.w40px {
    width: 40px;
}
